$color_1: #f5f5f5;
$color_2: green;
$color_3: whitesmoke;
$color_4: white;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: black;
$background-color_2: rgb(67, 241, 67);
$background-color_3: rgb(245,245,245);
$background-color_4: rgb(30,30,30);
$background-color_5: rgba(0,0,0,0.5);

*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
h1{
	font-size: 3.5em;
}
h2{
	font-size: 2.7em;
}
h3{
	font-size: 2em;
	color: $color_1;
	text-shadow: 0 0 5px #03e903, 0 0 25px #03e903, 0 0 50px #03e903, 0 0 100px #03e903;
	letter-spacing: 5px;
	cursor: pointer;
	text-transform: uppercase;
	transition: 1s;
}
p{
	font-size: 1.25em;
}
body{
	font-family: $font-family_1;
	margin: 0;
}
button{
	font-size: 1em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid green;
	box-shadow: 2px 2px 10px rgb(0, 0, 0,5);
	color: $color_2;
	background-color: $background-color_1;
	&:hover{
		background-color: $background-color_2;
	}
}
.container{
	max-width: 1400px;
	margin: auto;
}
header{
	background-color: $background-color_3;
	z-index: 1 top 0;
	position: fixed;
	width: 100%;
	.logo{
		display: flex;
		font-size: 3em;
		font-weight: 300;
		text-align: center;
		color: $color_1;
		text-shadow: 0 0 5px #03e903, 0 0 25px #03e903, 0 0 50px #03e903, 0 0 100px #03e903;
		letter-spacing: 5px;
		cursor: pointer;
		text-transform: uppercase;
		transition: 1s;
	}
	.container{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	nav{
		display: flex;
		flex-direction: row;
		text-align: center;
		padding-bottom: 25px;
	}
	a{
		padding: 5px 12px;
		text-decoration: none;
		font-weight: bold;
		color: $color_3;
		&:hover{
			color: $color_2;
		}
	}
}
#Home{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	color: $color_3;
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/christian-hogue-wvdc2osHNTA-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	h1{
		color: $color_4;
	}
}
#Nosotros{
	background-color: $background-color_4;
	color: $color_1;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/general.jpg);
	.container{
		text-align: center;
		padding: 200px 12px;
	}
}
#Nosotros_dos{
	background-color: $background-color_4;
	color: $color_1;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/fer-gomez-Z2RdKLpLbDs-unsplash.jpg);
	.container_dos{
		text-align: center;
		padding: 200px 12px;
	}
}
#nuestro_menu{
	background-color: $background-color_4;
	color: $color_1;
	text-align: center;
	.container{
		padding: 150px 12px;
	}
	h2{
		margin-top: 0;
		font-size: 3em;
	}
	p{
		display: none;
	}
	.menu{
		background-position: center center;
		background-size: cover;
		padding: 50px 0px;
		margin: 30px;
		border-radius: 15px;
	}
}
.menu{
	&:first-child{
		background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/almuerzo.jpg);
	}
	&:nth-child(2){
		background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/cena.jpg);
	}
	&:nth-child(3){
		background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/portada.jpg);
	}
}
#ordenar{
	h2{
		margin-top: 0;
		font-size: 3em;
	}
	background-color: $background-color_4;
	color: $color_1;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/ordering.jpg);
	.container{
		padding: 150px 12px;
	}
}
#contacto{
	h2{
		margin-top: 0;
		font-size: 3em;
	}
	.container{
		padding: 150px 12px;
	}
	background-color: $background-color_4;
	color: $color_1;
	text-align: center;
	background-size: cover;
	background-position: center center;
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../media/fondocontact.jpg);
}
footer{
	background-color: $background-color_5;
	.container{
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
}